{
    "application": {
        "layout": "default",
        "encryption_key": "",
        "base_url": "\/\/example.com",
        "title": "J!Code Framework",
        "database": {
            "adapter": "mysql",
            "host": "127.0.0.1",
            "name": "",
            "user": "",
            "password": ""
        },
        "cache": {
            "enabled" : false,
            "engine": "memcached",
            "host": "127.0.0.1",
            "post": "11211"
        }
    }
}