{% set application =  "Jcode\\Application\\Config" | dc %}

<html lang="en">
    <head>
        {% include "/page/html/head.html" %}
    </head>
    <body>
        <nav class="top-bar" data-topbar="">
            {% include "/page/navigation/top.html" %}
        </nav>
        <div class="row">
            <div class="large-12 columns">
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                {% include "/page/html/footer.html" %}
            </footer>
        </div>
    </body>
</html>